@font-face {
    font-family: PatricHand;
    src:url("fonts/PatrickHand-Regular.ttf")format("truetype");
    font-weight: normal;
}
*, ::after, ::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(90deg,#a85160,#a8384b, #681725);
    user-select: none;
    gap: 5%;
    margin: 0% 5%;
}
.flower-container {
    margin-top: 12.5%;
    background-color: #c8cecf;
    box-shadow: 0px 0px 50px #4d3d3d;
    width: 60%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.title {
    text-align: center;
    color: #4D3E3D;
    font-family: PatricHand;
    font-size: 32px;
}
.item-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    column-gap: 6%;
    padding-top: 1rem;
}
item {
    overflow: hidden;
}
item.image {
    box-shadow: 0px 0px 10px #4D3E3D;
}
.image-container {
    user-select: none;
    width: 18rem;
    height: 18rem;
    position: relative;
}
.image-container:hover {
    transform: scale(1.2);
    transition: transform 7s cubic-bezier(0.25,0.45,0.45,0.95);
}
.image-container:hover .overlay {
    display: block;
}
.image-container img {
    width: 100%;
    height: 100%;
}
.overlay {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    transition: .7s ease;
    font-family: PatricHand;

    padding-top: 40%;
    text-align: center;
    text-transform: uppercase;
}
.overlay h2 {
    background-color: #F1C40F;
    color: #4D3E3D;
}
.button-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    user-select: none;
    position: relative;
    width: 300px;
    height: 60px;
}
button {
    padding: 0px 3rem;
    font-family: PatricHand;
    font-size: x-large;
    border-radius: 30px;
    background-color: #F1C40F;
    color: #4D3E3D;
    border: none;
}
button:hover {
    cursor:pointer;
    opacity: 0.7;
    color: #c8cecf;
    background-color: black;

}
.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c8cecf;
    box-shadow: 0px 0px 20px rgb(54, 53, 53);
    width: 35%;
    padding: 3rem;
}

.cart-container section {
    display: flex;
    flex-direction: row;
    background-color: #b7bdbe;
    margin: 0.5rem 1.5rem;
    width: 100%;
}

.cart-container section div {
    width: 30%;
    border: solid 1px red;
}
.cart-container img {
    border-radius: 5rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    object-fit: cover;
}