/* #region GENERAL */

@font-face {
    font-family: PatricHand;
    src: url("fonts/PatrickHand-Regular.ttf")format("truetype");
    font-weight: normal;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(90deg, #336E7B, #34495E);
    color: #22313F;
    font-family: PatricHand;
    user-select: none;
}


/* #endregion GENERAL */


/* #region TOTAL */

#total-container {
    margin: auto;
    width: 65%;
    margin-top: 40px;
    background-color: #D2D7D3;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    box-shadow: #95A5A6 0px 0px 10px;
    border-radius: 10px;
}


/* #endregion TOTAL */


/* #region ITEM */

#item-container {
    margin: auto;
    width: 70%;
    margin-top: 50px;
    background-color: #D2D7D3;
    display: flex;
    justify-content: center;
    padding: 25px 15px 5px;
    box-shadow: #95A5A6 0px 0px 10px;
    border-radius: 10px;
}

.item {
    width: 25%;
    margin: 15px 25px 25px;
    display: flex;
    flex-direction: column;
}

.bounce {
    display: flex;
    flex-direction: column;
}

.bounce:hover {
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.bounce>span {
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.bounce>img {
    border-radius: 25%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin-top: 15px;
}

.info>span {
    font-size: xx-large;
}

.info>button {
    font-family: PatricHand;
    font-size: x-large;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #D2D7D3;
    color: #499aac;
}

.info>button:hover {
    background-color: #499aac;
    color: #D2D7D3;
}


/* #endregion ITEM */


/* #region Cart*/

#cart-container {
    display: none;
    /* flex by js*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 65%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px 0px;
    background-color: #D2D7D3;
    box-shadow: #95A5A6 0px 0px 10px;
    border-radius: 10px;
}

.cart-item {
    font-size: x-large;
    display: flex;
    margin: 20px;
}

.cart-item>img {
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.cart-item>.name {
    margin: 20px 60px 20px 30px;
}

.cart-item>.qty {
    margin: 20px 10px;
}

.cart-item>.sum {
    margin: 20px;
}

.cart-item>.minus {
    margin: 20px 0px 20px 60px;
    color: #499aac;
    width: 40px;
    text-align: center;
    border-radius: 50%;
}

.cart-item>.plus {
    margin: 20px 30px 20px 0px;
    color: #499aac;
    width: 40px;
    text-align: center;
    border-radius: 50%;
}

.cart-item>.minus:hover {
    background-color: #499aac;
    color: #D2D7D3;
}

.cart-item>.plus:hover {
    background-color: #499aac;
    color: #D2D7D3;
}


/* #endregion */